# RabbitMQ configuration
RABBITMQ_USER=
RABBITMQ_PASS=
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672

# MySQL configuration
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
MYSQL_HOST=mysql
MYSQL_PORT=3306

# Application settings
API_PORT=8080
UPLOAD_PATH=/app/uploads
